/*
 * Map of breakpoints, use with @include bp(<name>).
 * Key in map is the <name> used in the mixin,
 * value in map is a list containing: first the breakpoint, second if you want to generate js meta tag helper
 */

$breakpoints: (
	larger-size: (40em, false),
	main-nav-inline: (76em, true),
	intro-image: (55em, false),
	intro-image-large: (80em, false),
	levels-summary-2-per-row: (48em, false),
	levels-summary-3-per-row: (70em, false),
	service-icon-inline: (35em, false),
	services-2-per-row: (70em, false),
	clients-2-per-row: (40em, false),
	clients-4-per-row: (65em, false),
	info-section-inline: (70em, false),
	levels-nav-2-per-row: (25em, false),
	levels-nav-3-per-row: (55em, false),
	levels-nav-5-per-row: (70em, false),
	contact-line-inline: (75em, false),
	page-footer-about-lines-full: (43em, false),
	contact-inline: (72em, false),
	contact-sections-inline: (36em, false),
	contact-form-inline: (60em, false)
);

@include js-media-helpers($breakpoints);
