$gutter: 1.25rem;
$gutter-large: 2.5rem;
$main-column-width: 85rem;

$section-spacing-v: 3rem;
$section-spacing-v-large: 7rem;

$contact-section-spacing: 4rem;
$contact-section-title-font-size: 1.25rem;
