<!--[if lte IE 10]>
	<p class="browser-upgrade">Používáte <strong>zastaralý</strong> prohlížeč. Prosím <a href="http://outdatedbrowser.com/cs">aktualizujte jej na novější verzi</a> pro lepší zážitek z&nbsp;procházení a vyšší bezpečnost.</p>
<![endif]-->
