<!-- these 3 meta tags must come first in the <head> -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6fbd2c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/assets/css/main.css">

<script>
	{{{js.loadjs}}}

	/* Font loading with optimization for Repeat Views */
	if ( sessionStorage.foutFontsLoaded ) {
		document.documentElement.className += ' has-fonts-loaded';
	}
	else {
		loadJS('/assets/js/fonts.js');
	}
</script>
