<header role="banner" class="page-header">
	<a href="#obsah" class="a11y-skip-to">přejít na Obsah</a>

	<div class="page-header-main-column">
		<div class="page-header-top-bar">
			<a href="/" class="page-header-logo">
				<img src="/assets/img/qlive-logo.svg" alt="Qlive" width="112" height="36">
			</a>
		</div>

		<nav role="navigation" class="main-nav">
			<h2 id="main-nav-label" class="visuallyhidden">Menu</h2>
			<ul class="main-nav-links">
				<li><a href="automatizace.html">Automatizace</a></li>
				<li><a href="osvetleni.html">Osvětlení</a></li>
				<li><a href="ozvuceni.html">Ozvučení</a></li>
				<li><a href="zabezpeceni.html">Zabezpečení</a></li>
				<li><a href="klimatizace.html">Klimatizace</a></li>
				<li><a href="interiery.html">Interiéry</a></li>
				<li class="main-nav-contact"><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
	</div>
</header>
