<footer role="contentinfo" class="page-footer">
	<div class="page-footer-sections">
		<section class="page-footer-section is-about">
			<h2 class="page-footer-section-heading">Qlive</h2>

			<p>Posouváme atmosféru vašich domovů a podniků o několik úrovní dál.</p>
			<p>Automatizujeme, zabezpečujeme, osvětlujeme a ozvučujeme.</p>
			<p>Zkrátka děláme prostory, ve kterých je skvělé být.</p>

			{{> ../partials/fb-link.html}}
		</section>

		<section class="page-footer-section">
			<h2 class="page-footer-section-heading">Kontakt</h2>
			<a href="mailto:napis@qlive.cz">napis@qlive.cz</a>
			<a href="tel:+420777042072" aria-label="+ 4 2 0. 7 7 7. 0 4 2. 0 7 2">+420&nbsp;777&nbsp;042&nbsp;072</a>
			<p>Sochařská 318/6, 170&nbsp;00 Praha 7</p>
			<a href="/">www.qlive.cz</a>
		</section>

		<section class="page-footer-section">
			<h2 class="page-footer-section-heading">Obchodní údaje</h2>
			<p><span lang="en" aria-label="Proton czech">PROTON CZECH</span> <abbr title="společnost s ručením oemezeným">s. r. o.</abbr></p>
			<p>Teplická 57/22, 405&nbsp;02 Děčín</p>
			<dl>
				<dt><abbr title="identifikační číslo">IČ</abbr></dt>
				<dd>25441884</dd>

				<dt><abbr title="daňové identifikační číslo">DIČ</abbr></dt>
				<dd>CZ25441884</dd>
			</dl>
			<a href="mailto:info@proton-czech.cz">info@proton-czech.cz</a>
		</section>
	</div>

	<div class="page-footer-site-info">
		<small class="page-footer-copyright">© Copyright {{{current_year}}} <strong>Qlive</strong> – Všechna práva vyhrazena.</small>
	</div>
</footer>
