<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.1.1.js"><\/script>')</script>

<script src="/assets/js/main.js" async defer></script>

<script>
	if ( ! ('HTMLPictureElement' in window) || ! ('srcset' in document.createElement('img')) ) {
		loadJS('/assets/js/vendor/picturefill.js');
	}
</script>

<script>
	window['GoogleAnalyticsObject']='ga';
	window.ga = function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
	ga('create','UA-43282380-4','auto');
	ga('send','pageview');
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>

<script>
	smartlook = function(){smartlook.api.push(arguments)};smartlook.api=[];
	smartlook('init', 'a4a3338704f1ac321b67aeddf29eb2ccf25d4008');
</script>
<script src="https://rec.smartlook.com/recorder.js" async></script>
