<!doctype html>
<html lang="cs">
	<head>
		<!-- keep this include on top, more in comments inside -->
		{{> ../partials/head-global.html}}

		<title>Qlive | Chytrá domácnost, klimatizace, osvětlení, ozvučení, alarm</title>
		<meta name="description" content="Zažijte komfort budoucnosti již dnes. To je chytrá domácnost nebo kancelář. Ovládejte a kontrolujte celou domácnost i váš podnik odkudkoliv mobilně.">
	</head>
	<body>
		{{> ../partials/body-start.html}}

		{{> ../partials/page-header.html}}

		<main role="main" id="obsah">
			<div class="intro">
				<div class="intro-main-column">
					<div class="intro-text">
						<h1>Posouváme atmosféru vašich domovů a podniků o několik úrovní výš.</h1>
						<p>Automatizujeme, zabezpečujeme, osvětlujeme a ozvučujeme. Děláme prostředí, ve kterém je skvělé být.</p>
					</div>
				</div>
			</div>

			<section class="levels-summary">
				<h2 class="levels-summary-heading">Realizujeme i bez sekání do zdi.</h2>
				<ul class="levels-summary-list">
					<li>
						<article class="level-summary" role="article">
							<a class="level-summary-link" href="/automatizace.html">
								<div class="level-summary-icon" aria-hidden="true">
									{{{svg.levels.automatizace}}}
								</div>
								<div class="level-summary-text">
									<h3 class="level-summary-title">Automatizace</h3>
									<p class="level-summary-desc">Přestavte si dům nebo podnik, který myslí za vás.</p>
								</div>
							</a>
						</article>
					</li>
					<li>
						<article class="level-summary" role="article">
							<a class="level-summary-link" href="/osvetleni.html">
								<div class="level-summary-icon" aria-hidden="true">
									{{{svg.levels.osvetleni}}}
								</div>
								<div class="level-summary-text">
									<h3 class="level-summary-title">Osvětlení</h3>
									<p class="level-summary-desc">Nechte své místnosti zazářit ve světle úspory energie.</p>
								</div>
							</a>
						</article>
					</li>
					<li>
						<article class="level-summary" role="article">
							<a class="level-summary-link" href="/ozvuceni.html">
								<div class="level-summary-icon" aria-hidden="true">
									{{{svg.levels.ozvuceni}}}
								</div>
								<div class="level-summary-text">
									<h3 class="level-summary-title">Ozvučeni</h3>
									<p class="level-summary-desc">Vyladěný zvuk, který vám bude hrát do noty.</p>
								</div>
							</a>
						</article>
					</li>
					<li>
						<article class="level-summary" role="article">
							<a class="level-summary-link" href="/zabezpeceni.html">
								<div class="level-summary-icon" aria-hidden="true">
									{{{svg.levels.zabezpeceni}}}
								</div>
								<div class="level-summary-text">
									<h3 class="level-summary-title">Zabezpečení</h3>
									<p class="level-summary-desc">Ochrana majetku – aby bylo všude dobře, doma nejlíp.</p>
								</div>
							</a>
						</article>
					</li>
					<li>
						<article class="level-summary" role="article">
							<a class="level-summary-link" href="/klimatizace.html">
								<div class="level-summary-icon" aria-hidden="true">
									{{{svg.levels.klimatizace}}}
								</div>
								<div class="level-summary-text">
									<h3 class="level-summary-title">Klimatizace</h3>
									<p class="level-summary-desc">Ten pocit, když vám klima zpříjemní klima.</p>
								</div>
							</a>
						</article>
					</li>
					<li>
						<article class="level-summary" role="article">
							<a class="level-summary-link" href="/interiery.html">
								<div class="level-summary-icon" aria-hidden="true">
									{{{svg.levels.interiery}}}
								</div>
								<div class="level-summary-text">
									<h3 class="level-summary-title">Interiéry</h3>
									<p class="level-summary-desc">Připravíme vaše prostředí tak, aby bylo chytré hned od základu.</p>
								</div>
							</a>
						</article>
					</li>
				</ul>
			</section>

			<section class="services">
				<h2 class="services-heading">Jsme tu, abychom vám pomohli.</h2>
				<ul class="services-list">
					<li class="service">
						<div class="service-icon" aria-hidden="true">{{{svg.services.experience}}}</div>
						<div class="service-text">
							<p><strong>Přes 25 let zkušeností.</strong></p>
							<p>Dáváme zelenou chytrému a pohodlnému životu. Již 25 let sledujeme poslední trendy a staráme se o váš maximální komfort. Jsme Qlive.</p>
						</div>
					</li>
					<li class="service">
						<div class="service-icon" aria-hidden="true">{{{svg.services.unity}}}</div>
						<div class="service-text">
							<p><strong>Vše pod jednou střechou. Doslova.</strong></p>
							<p>Popusťte uzdu fantazii. Že změna plánů nebyla v&nbsp;plánu? I na to se díky našemu širokému spektru zaměření zvládneme společně připravit.</p>
						</div>
					</li>
					<li class="service">
						<div class="service-icon" aria-hidden="true">{{{svg.services.efficiency}}}</div>
						<div class="service-text">
							<p><strong>Modernizace pro každého.</strong></p>
							<p>Nová doba! Bezstarostný život pro všechny. Nakolik si ceníte svého pohodlí vy?</p>
						</div>
					</li>
					<li class="service">
						<div class="service-icon" aria-hidden="true">{{{svg.services.time}}}</div>
						<div class="service-text">
							<p><strong>Jsme efektivní, plánujeme.</strong></p>
							<p>Není čas ztrácet čas. Společně naplánujeme postup celé realizace, aby nám šla práce pěkně od ruky.</p>
						</div>
					</li>
				</ul>
			</section>

			<section class="clients">
				<h2 class="clients-heading">S&nbsp;kým, s&nbsp;čím a pro koho?</h2>
				<ul class="clients-list">
					<li><img src="/assets/img/clients/lod-pivovar.jpg" alt="Loď Pivovar"></li>
					<li><img src="/assets/img/clients/zdrave-opalovani.jpg" alt="Zdravé opalování"></li>
					<li><img src="/assets/img/clients/zamek-decin.jpg" alt="Zámek Děčín"></li>
					<li><img src="/assets/img/clients/pivovarska-restaurace.jpg" alt="Pivovarská restaurace"></li>
				</ul>
			</section>
		</main>

		{{> ../partials/page-footer.html}}

		{{> ../partials/scripts.html}}
	</body>
</html>
