<!doctype html>
<html lang="cs">
	<head>
		<!-- keep this include on top, more in comments inside -->
		{{> ../partials/head-global.html}}

		<title>Qlive | Kontakt</title>
		<meta name="description" content="Dejte nám vědět o vašem projektu. Konzultujte své nápady.">
	</head>
	<body>
		{{> ../partials/body-start.html}}

		{{> ../partials/page-header.html}}

		<main role="main" id="obsah">
			<div class="page-title" style="background-image: url(/assets/img/page-titles/contact.jpg)">
				<div class="page-title-main-column">
					<h1 class="page-title-text">Kontakt</h1>
				</div>
			</div>

			<div class="map">
				<div class="map-inner">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10236.785801904129!2d14.4177076!3d50.1013298!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47099fd717e94b61%3A0x5eced8d972530871!2sPROTON+CZECH+s.r.o.!5e0!3m2!1scs!2scz!4v1507374959435" width="100%" height="464" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="contact">
				<div class="contact-main-column">
					<div class="contact-sections">
						<section class="contact-section">
							<h2 class="contact-section-title">Stavte se osobně.</h2>

							<p>
								Sochařská 318/6<br>
								170&nbsp;00 Praha 7
							</p>

							<dl class="has-links">
								<dt>E-mail</dt>
								<dd><a href="mailto:napis@qlive.cz">napis@qlive.cz</a></dd>
								<dt>Telefon</dt>
								<dd><a href="tel:+420777042072" aria-label="+ 4 2 0. 7 7 7. 0 4 2. 0 7 2">+420&nbsp;777&nbsp;042&nbsp;072</a></dd>
							</dl>

							{{> ../partials/fb-link.html}}
						</section>

						<section class="contact-section">
							<h2 class="contact-section-title">Obchodní údaje.</h2>

							<p>
								PROTON CZECH <abbr title="společnost s ručením omezeným">s. r. o.</abbr><br>
								Teplická 57/22<br>
								405&nbsp;02 Děčín
							</p>

							<dl>
								<dt><abbr title="identifikační číslo">IČ</abbr></dt>
								<dd>25441884</dd>

								<dt><abbr title="daňové identifikační číslo">DIČ</abbr></dt>
								<dd>CZ25441884</dd>
							</dl>
						</section>
					</div>

					<div class="js-contact-form"></div>
				</div>
			</div>
		</main>

		{{> ../partials/page-footer.html}}

		{{> ../partials/scripts.html}}
	</body>
</html>
