.clients {
	@include section-separator;
	padding: $section-spacing-v $gutter;

	@include bp(larger-size) {
		padding: $section-spacing-v-large $gutter-large;
	}
}

.clients-heading {
	@include main-column;
	@include section-heading;
}

.clients-list {
	@include main-column;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.5rem;
	padding-left: 0;
	text-align: center;
	list-style: none;

	@include bp(larger-size) {
		margin-top: 6rem;
	}

	li {
		$spacing-v: 2.5rem;
		$spacing-h: 2rem;

		width: 100%;

		+ li {
			margin-top: $spacing-v;
		}

		@include bp(clients-2-per-row) {
			width: 50%;

			&:nth-child(2) {
				margin-top: 0;
			}

			&:nth-child(2n+1) {
				padding-right: $spacing-h;
			}

			&:nth-child(2n+2) {
				padding-left: $spacing-h;
			}
		}

		@include bp(clients-4-per-row) {
			width: 25%;

			&:nth-child(n+3) {
				margin-top: 0;
				padding-left: $spacing-h;
			}

			&:nth-child(2) {
				padding-right: $spacing-h;
			}
		}
	}
}
