.contact-line {
	padding: 2rem $gutter;
	background-color: $green; // accessible with black (#000) text
	font-size: 1rem;
	font-weight: $fw-semibold;
	text-align: center;
	color: #fff; // TODO: nízký kontrast => nesplňuje WCAG ani na AA

	@include bp(larger-size) {
		padding: 3rem $gutter-large;
		font-size: 1.25rem;
	}

	a {
		font-weight: $fw-bold;
		color: inherit;
	}
}

.contact-line-main-column {
	@include main-column;

	@include bp(contact-line-inline) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.contact-line-info {
	@include bp(contact-line-inline) {
		max-width: 30em;
		width: 60%;
		padding-right: 1.5rem;
		text-align: left;
	}
}

.contact-line-form-link {
	display: inline-block;
	margin-top: 1rem;
	padding: .5rem .75rem .25rem;
	border: 3px solid;
	font-weight: $fw-bold;
	text-decoration: none;

	@include bp(contact-line-inline) {
		max-width: 28rem;
		width: 30%;
		margin-top: 0;
		padding-top: .75rem;
		padding-bottom: .5rem;
	}
}
