.contact {
	margin-top: 2rem;
	padding-right: $gutter;
	padding-left: $gutter;
	padding-bottom: $section-spacing-v;

	@include bp(larger-size) {
		margin-top: 4rem;
		padding-right: $gutter-large;
		padding-left: $gutter-large;
		padding-bottom: $section-spacing-v-large;
	}
}

.contact-main-column {
	@include main-column;

	@include bp(contact-inline) {
		display: flex;
		justify-content: space-between;
	}
}

.contact-sections {
	@include bp(contact-sections-inline) {
		display: flex;
	}

	@include bp(contact-inline) {
		display: block;
		width: 20%;
	}
}
