.info-section {
	@include section-separator;
	padding: $section-spacing-v $gutter;

	@include bp(larger-size) {
		padding: $section-spacing-v-large $gutter-large;
	}
}

.info-section-main-column {
	@include main-column;

	@include bp(info-section-inline) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.info-section:nth-of-type(2n+1) & {
		@include bp(info-section-inline) {
			flex-direction: row-reverse;
		}
	}
}

.info-section-text {
	@include bp(info-section-inline) {
		width: 51%;
	}
}

.info-section-theme {
	font-size: 1.25em;
	font-weight: $fw-semibold;

	@include bp(larger-size) {
		font-size: 1.5em;
	}
}

.info-section-heading {
	margin-top: 1.5rem;
	line-height: 1.5;
	font-size: 2em;
	font-weight: $fw-light;

	@include bp(larger-size) {
		font-size: 2.5em;
	}
}

.info-section-info {
	max-width: 35em;
	margin-top: 1.5rem;
	color: #4b4d4e;

	@include bp(larger-size) {
		line-height: 1.6;
		font-size: 1.125em;
	}
}

.info-section-img {
	margin-top: 2.5em;
	text-align: center;

	@include bp(larger-size) {
		margin-top: 5em;
	}

	@include bp(info-section-inline) {
		width: 43%;
		margin-top: 0;
	}

	img {
		max-height: 80vh;
		height: auto;
		width: auto;
	}
}
