.intro {
	@include section-separator;
	padding-right: $gutter;
	padding-left: $gutter;

	@include bp(larger-size) {
		padding-right: $gutter-large;
		padding-left: $gutter-large;
	}

	@include bp(intro-image) {
		padding-top: 4rem;
		padding-bottom: 7rem;
		background-image: url(../img/page-titles/homepage.jpg);
		background-position: center;
		background-size: cover;
		background-color: #000;
	}

	@include bp(intro-image-large) {
		padding-top: 8rem;
		padding-bottom: 12rem;
	}
}

.intro-main-column {
	@include main-column;
}

.intro-text {
	max-width: 42rem;
	padding-top: 1.5rem;
	padding-bottom: 2rem;

	@include bp(larger-size) {
		padding-top: 2rem;
		padding-bottom: 2.5rem;
	}

	@include bp(intro-image) {
		max-width: 48rem;
		padding-right: 3rem;
		padding-left: 3rem;
		border-top: 7px solid $green;
		background-color: #fff;
		background-color: rgba(255, 255, 255, .85);
	}

	h1 {
		font-size: 1.5rem;

		@include bp(larger-size) {
			font-size: 2rem;
		}
	}

	p {
		margin-top: 1rem;

		@include bp(larger-size) {
			font-size: 1.25rem;
		}
	}
}
