.levels-summary {
	@include section-separator;
	padding: $section-spacing-v $gutter;

	@include bp(larger-size) {
		padding: $section-spacing-v-large $gutter-large;
	}
}

.levels-summary-heading {
	@include main-column;
	@include section-heading;
}

.levels-summary-list {
	@include main-column;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.5rem;
	padding-left: 0;
	list-style: none;

	@include bp(larger-size) {
		margin-top: 6rem;
	}

	li {
		$spacing-v: 2.5rem;
		$spacing-h: 2rem;

		width: 100%;

		+ li {
			margin-top: $spacing-v;
		}

		@include bp(levels-summary-2-per-row) {
			width: 50%;

			&:nth-child(2) {
				margin-top: 0;
			}

			&:nth-child(2n+1) {
				padding-right: $spacing-h;
			}

			&:nth-child(2n+2) {
				padding-left: $spacing-h;
			}
		}

		@include bp(levels-summary-3-per-row) {
			width: (100% / 3);

			&:nth-child(3) {
				margin-top: 0;
			}

			&:nth-child(2n+1) {
				padding-right: 0;
			}

			&:nth-child(2n+2) {
				padding-left: 0;
			}

			&:nth-child(3n+1) {
				padding-right: (2 * $spacing-h / 3);
			}

			&:nth-child(3n+2) {
				padding-left: (2 * $spacing-h / 3 / 2);
				padding-right: (2 * $spacing-h / 3 / 2);
			}

			&:nth-child(3n+3) {
				padding-left: (2 * $spacing-h / 3);
			}
		}
	}
}
