.levels-nav {
	@include main-column;
	padding: $section-spacing-v $gutter;
	text-align: center;

	@include bp(larger-size) {
		padding: $section-spacing-v-large $gutter-large;
	}
}

.levels-nav-heading {
	line-height: 1.5;
	font-size: 1.75em;
	font-weight: $fw-light;

	@include bp(larger-size) {
		font-size: 2.5em;
	}
}

.levels-nav-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	padding-left: 0;
	list-style: none;

	@include bp(larger-size) {
		margin-top: 5rem;
	}

	@include bp(levels-nav-5-per-row) {
		justify-content: space-around;
	}

	li {
		width: 100%;

		@include bp(levels-nav-2-per-row) {
			width: 50%;
		}

		@include bp(levels-nav-3-per-row) {
			width: (100% / 3);
		}

		@include bp(levels-nav-5-per-row) {
			width: auto;
		}
	}
}

.levels-nav-link {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: inherit;

	@include bp(larger-size) {
		padding: 2rem;
	}

	&:focus,
	&:hover {
		.levels-nav-link-text {
			color: #575756;
		}
	}
}

.levels-nav-link-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: auto;
		height: 4rem;

		@include bp(larger-size) {
			max-width: 7.5vw;
			height: 5rem;
		}
	}
}

.levels-nav-link-text {
	display: inline-block;
	margin-top: .5rem;
	font-size: 1.25rem;
	font-weight: $fw-semibold;

	@include bp(larger-size) {
		margin-top: 2rem;
		font-size: 1.5rem;
	}
}
