.map {
	margin-top: 2rem;
	padding-right: $gutter;
	padding-left: $gutter;

	@include bp(larger-size) {
		margin-top: 4rem;
		padding-right: $gutter-large;
		padding-left: $gutter-large;
	}
}

.map-inner {
	@include main-column;
	max-height: 70vh;
	height: 29rem;
	border: none;
	background-color: #aaa;

	iframe {
		height: 100%;
		width: 100%;
	}
}
