.page-header {
	z-index: z(page-header);
	width: 100%;
	padding-right: $gutter;
	padding-left: $gutter;
	border-bottom: 2px solid $green;
	background-color: #fff;

	@include bp(larger-size) {
		padding-right: $gutter-large;
		padding-left: $gutter-large;
	}

	@include bp(main-nav-inline) {
		$height: calc(4.25rem + 2px);

		height: $height;

		&.is-sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			transition: transform 300ms ease-in-out;

			&.is-hidden:not(.has-focus-within) {
				transform: translateY(-100%);
			}

			& + * {
				margin-top: $height;
			}
		}
	}
}

.page-header-main-column {
	@include main-column;
	height: 100%;
	width: 100%;
	background-color: #fff;

	.page-header:not(.has-main-nav-revealing) & {
		@include bp(main-nav-inline) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.page-header-top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	.page-header:not(.has-main-nav-revealing) & {
		@include bp(main-nav-inline) {
			width: auto;
		}
	}
}

.page-header-logo {
	display: inline-block;
	width: 7em;
	padding-top: 1rem;
	padding-bottom: 1rem;

	.page-header:not(.has-main-nav-revealing) & {
		@include bp(main-nav-inline) {
			flex-shrink: 0;
		}
	}

	img {
		height: auto;
		width: auto;
	}
}
