.page-footer {
	padding-right: $gutter;
	padding-left: $gutter;
	background-color: #14181c;
	color: #fff;

	@include bp(larger-size) {
		padding-right: $gutter-large;
		padding-left: $gutter-large;
	}
}

.page-footer-sections {
	@include main-column;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include bp(larger-size) {
		padding-top: 4em;
		padding-bottom: 4em;
	}
}

.page-footer-section {
	padding-top: 2rem;
	padding-bottom: 2rem;

	&:not(:last-of-type) {
		margin-right: 2rem;
	}

	& > *:not(h2) + * {
		margin-top: 1rem;
	}

	@include bp(page-footer-about-lines-full) {
		&.is-about > *:not(h2) + p {
			margin-top: 0;
		}
	}

	a {
		&:not(.fb-link) {
			display: block;
			color: inherit;
		}

		&[href^="tel:"] {
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	dt,
	dd {
		display: inline;
	}

	dt::after {
		content: ":";
	}

	dd:not(:last-child)::after {
		content: ",";
	}
}

.page-footer-section-heading {
	margin-bottom: .5rem;
	font-size: 1.5rem;
	font-weight: $fw-semibold;

	@include bp(larger-size) {
		margin-bottom: 1.5rem;
	}
}

.page-footer-site-info {
	@include main-column;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 1.5rem;
	border-top: 1px solid #fff;
	text-align: center;

	@include bp(larger-size) {
		padding-top: 2.5rem;
		padding-bottom: 3.5rem;
	}
}

.page-footer-copyright {
	padding-top: 1.5rem;
	padding-right: $gutter;
	padding-left: $gutter;
	font-size: 1rem;

	@include bp(larger-size) {
		padding-right: $gutter-large;
		padding-left: $gutter-large;
	}
}
