$page-title-text-width: 23rem;

.page-title {
	position: relative;
	padding: 3em $gutter 4em;
	background-position: left;
	background-size: cover;

	@include bp(larger-size) {
		padding: 5.5em $gutter-large 8.5em;
	}

	/* opaque overlay */
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(to right, #fff $page-title-text-width, rgba(255, 255, 255, 0));
		opacity: .75;
	}
}

.page-title-main-column {
	@include main-column;
}

.page-title-text {
	position: relative;
	display: inline-block;
	max-width: $page-title-text-width;
	border-bottom: 6px solid $green;
	font-size: 2em;
	font-weight: $fw-bold;

	@include bp(larger-size) {
		font-size: 3em;
	}
}
