.projects {
	@include section-separator;
	padding: 3rem $gutter;

	@include bp(larger-size) {
		padding: 7rem $gutter-large;
	}
}

.projects-heading {
	@include main-column;
	@include section-heading;
}
