@font-face {
	font-family: Poppins;
	src: url(../font/poppins-regular.woff2) format('woff2'),
		 url(../font/poppins-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../font/poppins-bold.woff2) format('woff2'),
		 url(../font/poppins-bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../font/poppins-light.woff2) format('woff2'),
		 url(../font/poppins-light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../font/poppins-semibold.woff2) format('woff2'),
		 url(../font/poppins-semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
