.a11y-skip-to {
	position: fixed;
	top: 0;
	left: -100%;
	z-index: z(a11y-skip-to);
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding: 1em 2em;
	font-size: 1.5em;
	background-color: $green;
	color: #000;

	@media print {
		display: none !important;
	}

	&:focus {
		left: 0;
	}
}
