.contact-form {
	margin-top: $contact-section-spacing;

	@include bp(contact-inline) {
		float: right;
		width: 75%;
		margin-top: 0;
	}
}

.contact-form-title {
	font-size: $contact-section-title-font-size;
}

.contact-form-line-inputs {
	@include bp(contact-form-inline) {
		display: flex;
		justify-content: space-between;

		.contact-form-input {
			width: 30%;
		}
	}
}

.contact-form-input,
.contact-form-alert,
.contact-form-sent {
	margin-top: 2rem;
}

.contact-form-input {
	display: flex;
	flex-direction: column;

	label {
		font-weight: $fw-semibold;

		&::after {
			content: ": *";
		}
	}

	input,
	textarea {
		padding: 1rem 1.5rem;
		border: 1px solid #4b4d4e;
		background-color: #fff;
		box-shadow: none;
	}

	input {
		max-width: 25em;
	}

	textarea {
		height: 15rem;
		max-height: 50vh;
	}

	input[type="submit"] {
		border: none;
		background-color: $green;
	}
}

.contact-form-alert {
	color: #b30000;
}

.contact-form-sent {
	color: #016501;
}
