$contact-section-item-spacing: 1rem;

.contact-section {
	@include bp(contact-sections-inline) {
		margin-right: $contact-section-spacing;

		@include bp(contact-inline) {
			margin-right: 0;
		}
	}

	& + & {
		margin-top: $contact-section-spacing;

		@include bp(contact-sections-inline) {
			margin-top: 0;
		}

		@include bp(contact-inline) {
			margin-top: $contact-section-spacing;
		}
	}

	dl {
		overflow: hidden;
		margin-top: $contact-section-item-spacing;

		&.has-links {
			dt,
			dd {
				margin-top: 1rem; // klikatelnost odkazů
			}
		}
	}

	dt {
		clear: left;
		float: left;
		margin-right: .25em;

		&::after {
			content: ":";
		}
	}

	dd {
		float: left;
	}

	a:not(.fb-link) {
		color: inherit;

		&[href^="tel:"] {
			text-decoration: none;

			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.fb-link {
		margin-top: ($contact-section-item-spacing + 1rem); // zaručená klikatelnost
	}
}

.contact-section-title {
	margin-bottom: $contact-section-item-spacing;
	font-size: $contact-section-title-font-size;
}
