.fb-link {
	display: inline-block;
	padding: .5rem 1.25rem;
	background-color: #33568e;
	text-decoration: none;
	color: #fff;

	svg {
		height: 1.25rem;
		width: 1.25rem;
		margin-right: 1rem;
		fill: currentColor;
	}
}

.fb-link-inner {
	display: flex;
	align-items: center;
}
