.level-summary {
	max-width: 27rem;
	margin-right: auto;
	margin-left: auto;
}

.level-summary-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: inherit;

	&:focus,
	&:hover {
		color: #575756;
	}
}

.level-summary-icon {
	width: 5rem;
	text-align: center;

	svg {
		height: auto;
		max-width: 100%;
	}
}

.level-summary-text {
	width: calc(91% - 5rem);
}

.level-summary-title {
	font-size: 1.25rem;
}

