$main-nav-toggle-transition-duration: .3s;

.main-nav-toggle {
	display: flex;
	align-items: center;
	margin-left: 2rem;
	padding: .5rem .75rem;
	border: 2px solid;
	border-radius: .5rem;
	background: none;

	&[type="button"] { // specificity hack
		-webkit-appearance: none;
	}
}

.main-nav-toggle-hamburger {
	display: flex;
	height: 1.25rem;
	width: 1.5rem;
	flex-direction: column;
	justify-content: space-between;
	transition: transform $main-nav-toggle-transition-duration;

	.main-nav-toggle[aria-expanded="true"] & {
		transform: translateX(.3125rem); // magic, feel free to calculate this
	}
}

.main-nav-toggle-hamburger-line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: .5rem;
	background-color: currentColor;
	transition: transform $main-nav-toggle-transition-duration, opacity $main-nav-toggle-transition-duration;

	@media screen and (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&:nth-child(1) {
		transform-origin: top left;

		.main-nav-toggle[aria-expanded="true"] & {
			transform: rotate(45deg);
		}
	}

	&:nth-child(2) {
		.main-nav-toggle[aria-expanded="true"] & {
			opacity: 0;
		}
	}

	&:nth-child(3) {
		transform-origin: bottom left;

		.main-nav-toggle[aria-expanded="true"] & {
			transform: rotate(-45deg);
		}
	}
}
