$main-nav-separator-color: #000;
$main-nav-inline-separator-width: 2px;
$main-nav-inline-item-padding-horizontal: 1.5rem;

.main-nav {
	&[aria-hidden="true"] {
		display: none;
	}
}

.main-nav-links {
	padding-left: 0;
	list-style: none;

	.main-nav:not(.is-revealing) & {
		@include bp(main-nav-inline) {
			display: flex;
		}
	}

	li + li {
		border-top: 1px solid #ccc;

		&.main-nav-contact {
			border-top-color: $main-nav-separator-color;
		}

		.main-nav:not(.is-revealing) & {
			@include bp(main-nav-inline) {
				border-top: none;
			}
		}
	}

	li:last-child a {
		.main-nav:not(.is-revealing) & {
			@include bp(main-nav-inline) {
				padding-right: 0;
			}
		}
	}

	a {
		display: block;
		width: 100%;
		padding-top: .5rem;
		padding-bottom: .5rem;
		font-size: 1em;
		font-weight: $fw-semibold;
		text-decoration: none;
		color: inherit;

		.main-nav:not(.is-revealing) & {
			@include bp(main-nav-inline) {
				width: auto;
				padding: 1.25rem $main-nav-inline-item-padding-horizontal;
			}
		}

		&:focus,
		&:hover {
			color: #575756;
		}
	}
}

/* oddělení kontaktu od úrovní automatizace */
.main-nav-contact a {
	.main-nav:not(.is-revealing) & {
		@include bp(main-nav-inline) {
			position: relative;
			margin-left: (2 * $main-nav-inline-item-padding-horizontal);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: calc(#{(- $main-nav-inline-item-padding-horizontal)} - #{($main-nav-inline-separator-width / 2)});
				bottom: 0;
				display: block;
				height: 1rem;
				width: $main-nav-inline-separator-width;
				margin-top: auto;
				margin-bottom: auto;
				background-color: $main-nav-separator-color;
			};
		}
	}
}
