.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 43rem;
	margin-right: auto;
	margin-left: auto;

	@include bp(service-icon-inline) {
		flex-direction: row;
		align-items: center;
	}
}

.service-icon {
	width: 4rem;
	text-align: center;

	svg {
		height: auto;
		max-width: 100%;
	}

	@include bp(service-icon-inline) {
		width: 5rem;
	}
}

.service-text {
	width: 100%;
	margin-top: 1rem;

	@include bp(service-icon-inline) {
		width: calc(93% - 5rem);
	}

	p + p {
		margin-top: .5rem;
	}

	strong {
		font-size: 1.25rem;
	}
}
