<!doctype html>
<html lang="cs">
	<head>
		<!-- keep this include on top, more in comments inside -->
		{{> ../partials/head-global.html}}

		<title>Qlive | {{{self.meta_title}}}</title>
		<meta name="description" content="{{{self.meta_description}}}">
	</head>
	<body>
		{{> ../partials/body-start.html}}

		{{> ../partials/page-header.html}}

		<main role="main" id="obsah">
			<div class="page-title" style="background-image: url(/assets/img/page-titles/levels/{{{self.slug}}}.jpg)">
				<div class="page-title-main-column">
					<h1 class="page-title-text">{{{self.title}}}</h1>
				</div>
			</div>

			{{# self.info_sections}}
				<section class="info-section">
					<div class="info-section-main-column">
						<div class="info-section-text">
							<p class="info-section-theme">{{{theme}}}</p>
							<h2 class="info-section-heading">{{{heading}}}</h2>
							<p class="info-section-info">{{{info}}}</p>
						</div>
						<div class="info-section-img">
							<img src="/assets/img/info-sections/{{{img.src}}}" alt="{{{img.alt}}}" width="{{{img.width_at_360}}}" height="{{{img.height_at_360}}}">
						</div>
					</div>
				</section>
			{{/ self.info_sections}}
		</main>

		<nav role="navigation" class="levels-nav">
			<h2 class="levels-nav-heading">Vylepšete si {{{self.title_4th_case}}} o další úrovně.</h2>
			<ul class="levels-nav-links">
				{{# self.other_levels}}
					<li>
						<a href="/{{{slug}}}.html" class="levels-nav-link">
							<div class="levels-nav-link-icon" aria-hidden="true">{{{icon}}}</div>
							<span class="levels-nav-link-text">{{{title}}}</span>
						</a>
					</li>
				{{/ self.other_levels}}
			</ul>
		</nav>

		<section class="contact-line">
			<div class="contact-line-main-column">
				<h2 class="visuallyhidden">Kontakt</h2>
				<p class="contact-line-info">Pro telefonické konzultace volejte <a href="tel:+420777042072" aria-label="+ 4 2 0. 7 7 7. 0 4 2. 0 7 2">+420&nbsp;777&nbsp;042&nbsp;072</a>, nebo se za námi stavte na osobní konzultaci.</p>
				<a href="/kontakt.html" class="contact-line-form-link">Sjednat nezávaznou konzultaci</a>
			</div>
		</section>

		{{> ../partials/page-footer.html}}

		{{> ../partials/scripts.html}}
	</body>
</html>
